<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CA105G4PO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/CA105G4DB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ActServlet</servlet-name>
    <servlet-class>com.activity.controller.ActServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActServlet</servlet-name>
    <url-pattern>/back-end/activity/act.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BchServlet</servlet-name>
    <servlet-class>com.branch.controller.braServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BchServlet</servlet-name>
    <url-pattern>/back-end/branch/bra.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>braImgServlet</servlet-name>
    <servlet-class>com.branch.controller.braImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>braImgServlet</servlet-name>
    <url-pattern>/back-end/branch/braImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>braVideoServlet</servlet-name>
    <servlet-class>com.branch.controller.braVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>braVideoServlet</servlet-name>
    <url-pattern>/back-end/branch/braVideo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BBServlet</servlet-name>
    <servlet-class>com.billboard.controller.BBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBServlet</servlet-name>
    <url-pattern>/back-end/billboard/bb.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CpnServlet</servlet-name>
    <servlet-class>com.coupon.controller.CpnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CpnServlet</servlet-name>
    <url-pattern>/back-end/coupon/cpn.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomTypeServlet</servlet-name>
    <servlet-class>com.roomType.controller.RoomTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomTypeServlet</servlet-name>
    <url-pattern>/back-end/roomType/roomType.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RoomTypeServletFront</servlet-name>
    <servlet-class>com.roomType.controller.RoomTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomTypeServletFront</servlet-name>
    <url-pattern>/front-end/roomType/roomType.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>CpnImgServlet</servlet-name>
    <servlet-class>com.coupon.controller.CpnImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CpnImgServlet</servlet-name>
    <url-pattern>/front-end/coupon/cpn.do</url-pattern>
  </servlet-mapping>
</web-app>